#layout {
    width: 99%;
    height: 650px;
    overflow: hidden;
}
.page{
    width: 100%;
    height: 650px;
    margin-top: 0;
}
.page-animating{
    margin-top: -650px;
}
.page-animated{
    margin-top: 0;
}
.page-slide-left-to-right{
    margin-left: 100%;
}
.page-slide-right-to-left{
    margin-left: -100%;
}
#home-page{
    background-color: #336699;
}
#first-page{
    background-color: #ffaa00;
}
#second-page{
    background-color: #dd3388;
}
#third-page{
    background-color: #f87216;
}
