#layout {
    width: 99%;
    height: 650px;
    overflow: hidden;
}
.page{
    width: 100%;
    height: 650px;
}
#home-page{
    background-color: #336699;
}
#first-page{
    background-color: #ffaa00;
}
#second-page{
    background-color: #dd3388;
}
#third-page{
    background-color: #f87216;
}
